body {
  width: 400px;
  margin: 25px auto;
  font-family: sans-serif;
  text-align: center;
  font-size: 8px;
  font-style: italic;
}
button {
  background-color: rgb(4, 19, 6);
  color: rgb(252, 247, 247);
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(92, 247, 234);
}
